* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background-image: url("../src/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.signup,
.login-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
span{
  font-weight: 500;
  color: palevioletred;
}

/* ProductForm.css */
.product-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.product-form .MuiTextField-root {
  margin-bottom: 16px;
}

.product-form .MuiButton-root {
  margin-top: 16px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product-list ul .pd{
  padding: 0;
}
.search{
  width: 400px;
  height: 40px;
  padding: 5px;
  border: 1px solid skyblue;
  margin: 25px 0px;
  font-size: large;
  font-weight: 500;
}